.wrapper{
    background-color : #232323;
    width: 100vw;
    height: 5rem;
    margin:auto;
}
.imglook{
    height: 40px;
    width: 40px;
    margin-right: 4rem;
    margin-left: 4rem;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    border: 0px solid rgb(42, 44, 185);

}
.flexboxcateg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    height: 50px;
    border: 0px solid rgb(255, 0, 0);
    
}
.navtext{
    display: block;
    padding: 20px 10px;
    color: rgb(255, 255, 255);
    font-family: zillaslab;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;

}
.logolook{
    height: 100px;
    width: 100px;
    margin-right: 4rem;
    margin-left: 4rem;
}
.navtext:hover{
    color: rgb(133, 90, 168);
}